* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: #1ebfc1;
}

/* Common */
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.name-content {
    color: #767e7e;
    font-size: 1.2rem;
    letter-spacing: 0.55rem;
    font-weight: 700;
    line-height: normal;
}

.btn {
    display: inline-block;
    min-width: 186px;
    border-radius: 14px;
    padding: 0 16px;
    color: #fff;
    background: var(--primary-color);
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 68px;
}

.btn:hover {
    opacity: 0.9;
}

.heading {
    color: #0d1111;
    font-weight: 700;
}

.heading.lv1 {
    font-size: 6.2rem;
    line-height: 1.16; /* 116.129% */
}

.heading.lv2 {
    font-size: 4.2rem;
    line-height: 1.33; /* 133.333% */
}

.heading.lv3 {
    font-size: 2.2rem;
    line-height: normal;
}

.heading.lv4 {
    font-size: 2rem;
    line-height: normal;
}

.desc {
    color: #767e7e;
    font-weight: 400;
}

.desc.lv1 {
    font-size: 1.8rem;
    line-height: 1.77;
}

.desc.lv2 {
    font-size: 1.6rem;
    line-height: 1.69;
}

.desc.lv3 {
    font-size: 1.4rem;
}

/* ============= Header ============= */
.header {
    background-color: #fff;
    padding-top: 44px;
}

.header.fixed {
    position: sticky;
    top: -44px;
    z-index: 999;
}

.header .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
}

.header .nav {
    display: flex;
    align-items: center;
}

.header .nav-link {
    padding: 8px 19.5px;
    color: #2f3a3b;
    font-size: 1.6rem;
    font-weight: 400;
}

.header .nav-link:not(.active):hover {
    text-shadow: 0.5px 0 0 #2f3a3b;
}

.header .nav-link.active {
    font-weight: 600;
}

.header .aciton {
    display: flex;
    align-items: center;
}

.header .action-btn {
    min-width: 108px;
    line-height: 48px;
    text-align: center;
}

.header .signin-btn {
    background-color: transparent;
    color: #494949;
    font-weight: 400;
    font-size: 1.6rem;
}

.header .signup-btn {
    background-color: transparent;
    border-radius: 6px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

/* ============= Hero ============= */
.hero {
    padding: 42px 0 79px;
    background-color: #fff;
}

.hero .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* info block */
.hero .info-block {
}

.hero .slogan {
    color: #767e7e;
    font-size: 1.4rem;
    font-weight: 400;
}

.hero .heading {
    margin: 18px 0 46px;
}

.hero .desc {
    width: 374px;
    color: #9da6a5;
    margin-bottom: 52px;
}
.hero .desc span {
    text-wrap: nowrap;
}

.hero .cta-group {
    display: flex;
    align-items: center;
}

.hero .hero-btn {
    margin-right: 50px;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}

.hero .watch-video {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

/* media block */
.hero .media-block {
    position: relative;
}

.hero .media-block .img {
    width: 576px;
    height: 631px;
    object-fit: cover;
    object-position: center;
    background-color: #e0f7f6;
}

.hero .media-block .cart {
    position: absolute;
    padding: 17px 25px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    z-index: 1;
}

.hero .media-block .cart .desc {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0;
    width: fit-content;
}

.hero .media-block .cart-course {
    left: -43px;
    top: 149px;
    width: 157px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 18px;
}

.hero .media-block .cart-course .icon-block {
    position: relative;
}

.hero .media-block .cart-course .icon-block::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 8px;
    width: 28px;
    height: 4px;
    border-radius: 999px;
    background-color: #fff;
}

.hero .media-block .cart-course .desc {
    margin: 0 0 0 16px;
}

.hero .media-block .cart-schedules {
    width: 124px;
    left: 0;
    bottom: 46px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px 0;
}

.hero .media-block .cart-schedules .desc {
    margin-bottom: 4px;
}

.hero .media-block .cart-avt {
    padding: 17px 35px;
    right: 45px;
    bottom: 41px;
}

.hero .media-block .cart-avt .desc {
    margin-bottom: 8px;
}

.hero .media-block .cart-avt .avatars {
    display: flex;
    align-items: center;
}

.hero .media-block .cart-avt .avata {
    --bg-color: #1ebfc1;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .media-block .cart-avt .avata {
    color: #fff;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
}

.hero .media-block .cart-avt .avata + .avata {
    margin-left: -7px;
}

/* ============= Features ============= */
.features {
    background-color: #fff;
    padding: 40px 0;
    margin: 90px 0 50px;
}

.features .main-content {
    width: 1024px;
    max-width: 1024px;
    transform: translateX(-73px);
}

.features .head {
    width: 58%;
    max-width: 58%;
    margin-bottom: 80px;
}

.features .heading {
    margin: 18px 0;
}

.features .head .desc {
    line-height: normal;
}

.features .list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.features .list .item {
    flex: 1;
    max-width: 224px;
    display: flex;
    flex-direction: column;
}

.features .item .title {
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
    margin: 26px 0 16px;
}

.features .item .desc {
    color: #9da6a5;
}

/* ============= Popular ============= */
.popular {
    padding: 40px 0;
    background-color: #fff;
}

.popular .head {
}

.popular .heading {
    margin: 18px 0;
}

.popular .head .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .head .row .desc {
    max-width: 45%;
}

.popular .head .row .view-more {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}

.popular .list {
    display: flex;
    margin-top: 79px;
    gap: 0 47px;
}

.popular .list .item {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popular .item .img {
    width: 100%;
    min-width: 359px;
    height: 393px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    opacity: 0.75;
    background: #d0efed;
    transition: all 0.3s ease;
}

.popular .item:hover .img,
.popular .item:hover .info {
    opacity: 1;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.popular .item .info {
    position: absolute;
    bottom: -124px;
    width: 325px;
    max-width: 325px;
    padding: 18px 25px 29px;
    border-radius: 8px;
    background: #fff;
}

.popular .item .info .heading {
    margin: 0 0 16px;
}

.popular .item .info .heading a {
    color: #0d1111;
}

.popular .item .info .price {
    color: #767e7e;
    font-size: 1.6rem;
    font-weight: 400;
}

.popular .item .info .price strong {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.popular .item .info .desc {
    color: #9da6a5;
    line-height: normal;
    margin: 6px 0 18px;
}

.popular .item .info .value-group {
    display: flex;
    align-items: center;
    gap: 0 10px;
}

.popular .item .info .value-group .desc {
    display: flex;
    align-items: center;
    margin: 0;
}

.popular .item .info .value-group .desc::before {
    display: inline-block;
    margin-right: 10px;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

/* ============= Stats ============= */
.stats {
    margin: 309px 0 224px;
    background-color: #fff;
    padding: 40px 0;
}

.stats .main-content {
    width: 862px;
    max-width: 862px;
}

.stats .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stats .list .item {
    text-align: center;
}

/* ============= Feedback ============= */
.feedback {
    background-color: #fff;
    padding: 40px 0;
    margin-bottom: 90px;
}

.feedback .content {
    display: flex;
    overflow: hidden;
}

.feedback .body {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 150px;
}

.feedback .qoute {
    width: 419px;
    max-width: 419px;
}

.feedback blockquote {
    margin: 27px 0 33px;
    color: #5d6564;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.5; /* 150% */
}

.feedback .author {
    display: flex;
    align-items: center;
    margin-bottom: 52px;
}

.feedback .author::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 2px;
    background: #070707;
    margin-right: 5px;
}

.feedback cite {
    color: #070707;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: normal;
    margin-right: 5px;
}

.feedback .controls {
    display: flex;
    align-items: center;
    gap: 0 30px;
}

.feedback .controls button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    cursor: pointer;
}

.feedback .avatar-group {
    position: relative;
    padding: 107px 0 139px;
    flex: 1;
    display: flex;
    height: 100%;
}

.feedback .avatar {
    --bg-color: var(--primary-color);
    --size: 78px;
    position: absolute;
    width: var(--size);
    height: var(--size);
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    background-color: var(--bg-color);
}

.feedback .avatar.active {
    position: unset;
    margin: auto;
}

/* ============= Cta ============= */
.cta {
    background-color: #def6f5;
    padding: 76px 0 88px;
}

.cta .main-content {
    width: 1024px;
    max-width: 1024px;
    transform: translateX(-73px);
}

.cta .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cta .info {
    flex: 1;
    max-width: 50%;
}

.cta .heading {
    margin-bottom: 18px;
}

.cta .heading,
.cta .desc {
    line-height: normal;
}

/* ============= Footer ============= */
.footer {
    padding: 130px 0 50px;
    background-color: #fff;
}
.footer .list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer .item + .item {
    flex: 1;
    max-width: 160px;
    display: flex;
    flex-direction: column;
}

.footer .item .title {
    color: #2e2e2e;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 25px;
}

.footer .item .desc,
.footer .item .social-group {
    color: #535353;
    line-height: normal;
}

.footer .item .desc + .desc,
.footer .item .social-group + .social-group {
    margin-top: 20px;
}

.footer .item .social-group {
    display: flex;
    align-items: center;
}

.footer .item .social-group .icon {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.footer .item .social-group .desc {
    padding-left: 10px;
}

.footer .copyright {
    margin-top: 80px;
    text-align: center;
    color: #b0b5b4;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: normal;
}
